
@{
    ViewData["Title"] = "TesteDeError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>
        Login Não cadastrado
    </h1>
</div>

<div class="text-center">
    <a id="FechaRsv" asp-controller="Login" asp-action="CadastrarLogin"
       class="btn btn-success">Fazer Login</a>
</div>