
@{
    ViewData["Title"] = "ConfirmarVendas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Compras</h1>

<div id="DivVendas">

    <div class="Produto ">
        <label>Produto</label>
        <input name="Nome" id="Produto1" placeholder="Digite o Produto" /><br />

        <table id="TabProd" class="table table-bordered">
            <thead>
                <tr>
                    <th hidden="hidden">
                        Id
                    </th>
                    <th>
                        Produto
                    </th>
                    <th>
                        valor
                    </th>
                    <th>
                        Vender
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <button class="btn btn-success" id="Selecionar">Buscar</button>
    </div>


    <div class="Produto2 ">

        <table id="TabVenda" class="table table-bordered">
            <thead>
                <tr>
                    <th hidden="hidden">
                        Id
                    </th>
                    <th>
                        Produto
                    </th>
                    <th>
                        valor
                    </th>
                    <th>
                        Quantidade
                    </th>
                </tr>
            </thead>
            <tbody>
                @*<tr>*@
                @*<td hidden="hidden">
                            1
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            Arroz 1kg
                        </td>
                        <td>
                            10,00
                        </td>
                    </tr>
                    <tr>
                        <td hidden="hidden">
                            1
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            Arroz 1kg
                        </td>
                        <td>
                            10,00
                        </td>
                    </tr>
                    <tr>
                        <td hidden="hidden">
                            1
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            Arroz 1kg
                        </td>
                        <td>
                            10,00
                        </td>*@
                @*</tr>*@

            </tbody>
        </table>
        <div id="Total">
            Valor Total: R$<span id="ValorTotal">0.00</span>
        </div>


        <button class="btn btn-warning" id="Edit">Editar</button>
        <button class="btn btn-success" id="Comprado">Comprar</button>




    </div>


</div>



@section Scripts{
    <script>

        $("#Selecionar").click(function () {

            var produto =
                $("#Produto1").val();


            Ajax(produto);

        });

        function Ajax(produto) {

            $.ajax({
                url: '/Produto/ProdutoAjax',
                method: 'Post',
                data: JSON.stringify(produto),
                contentType: 'application/json',

                beforeSend: function () {


                }

            })
                .done(function (lista) {

                    //var r = $.parseJSON(lista);
                    debugger;
                    $.each(lista, function () {

                        var Body = $('#TabProd').find('tbody'); //pega o corpo do Paul

                        var Linha = $('<tr>');//cria a linha vazia pra por no bochu do paull

                        var col1 = $('<td>').attr('hidden', 'true');//cria a coluna da linha do  bucho do paull
                        var col2 = $('<td>');//---#---
                        var col3 = $('<td>').attr('class', 'valor');//---#--- preco
                        var col4 = $('<td>');

                        var botao = $('<button>').html('Selecionar').attr('onclick', 'teste(this)').attr('class', 'btn btn-success selecionar');

                        col1.html(this.id).attr('class', 'IdProduto');; //inclui o valor na coluna
                        col2.html(this.nome);
                        col3.text(this.preco.duasCasas());
                        Linha.attr('item-id', col3.text());
                        debugger;
                        col4.append(botao);

                        Linha.append(col1, col2, col3, col4);//inclui as colunas na linha

                        Body.append(Linha); //inclui a linha no corpo do paull

                        debugger;






                    })



                })
                .fail(function (jqXHR, textStatus, msg) {

                    alert(msg)
                })




        };




        function corpotabela() {

            var Body = $('#TabProd').find('tbody'); //pega o corpo do Paul

            var Linha = $('<tr>');//cria a linha vazia pra por no bochu do paull


            var col1 = $('<td>');//cria a coluna da linha do  bucho do paull
            var col2 = $('<td>');//---#---
            var col3 = $('<td>');//---#---

            col1.html(this.id); //inclui o valor na coluna
            col2.html(this.nome);
            col3.html((this.preco.duasCasas()));
            Linha.attr('item-id', col3)

            Linha.append(col1, col2, col3);//inclui as colunas na linha

            Body.append(Linha); //inclui a linha no corpo do paull

            debugger;






        };



        Number.prototype.duasCasas = function () {
            return this.toFixed(2).replace('.', ',');
        }

        function teste(btn) {
            debugger;
            var linha = $(btn).parents('tr');
            var linha2 = $(btn).parents('[tr]');
            var linhapai = $(btn).closest('tr');
            var itemid = $(btn).parents('[item-id]').text();
            var itemtes = $(btn).parents('[item-id]').html();
            var teste3 = $(btn).attr('item-id');
            console.log(linha);
            console.log(linhapai);
            debugger;




            linha.find('td').each(function () {

                var r = $(this).html();
                var rr = $(this).text();
                debugger;

                if (r == "Selecionar") {

                    linha.remove(this);
                    debugger;


                }

                if (rr == "Selecionar") {
                    this.remove();
                    debugger;
                }
                //var Body = $('#TabVenda').find('tbody');
                //Body.append(linha);


            })

            var Body = $('#TabVenda').find('tbody'); //esse

            //var novatr = $("<tr>");
            var novatd = $("<td>");
            var campoqtd = $("<input>").attr('onblur', 'Calcular(this)').attr('class', 'Quantidade').css('width', '45px').val('1');
            novatd.append(campoqtd);
            //novatr.append(novatd);
            linha.append(novatd);

            Body.append(linha); // e esse

            console.log(tds);
            //console.log(tds2);

            var tds = Body.find('td');
            var itens = $('.total')


            tds.each(function () {
                var item = $(this).text();

            })

            for (var i = 0; i < itens.length; i++) {
                var item = $(itens[i]);
                var valor = item.text();

                console.log(valor);
            }


            $("#Edit").attr('disabled', 'false');
            $("#Comprado").attr('disabled', 'false');
        }

        function CalculoTotal() {
            var Body = $('#TabVenda').find('tbody').find("td").find('input');
            $('#ValorTotal').html('0,00');

            Body.each(function () {
                var Total = parseFloat($('#ValorTotal').html().replace(',', '.'));
                
                var quantidade = parseFloat($(this).val());
                var valor = parseFloat($(this).parents('tr').find('td.valor').html().replace(',', '.'));
                var multiplicacao = parseFloat(quantidade * valor);
                Total += multiplicacao;
                $('#ValorTotal').html(Total.toFixed(2))
               
            })

        }

        function Calcular(InputValorDigitado) {

            //if (1 == 1) {

            //    CalculoTotal();
            //}
            //else {



            var Body = $('#TabVenda').find('tbody').find("td");





            var qtdtr = $('#TabVenda').find('tbody').find("tr").length;

            var TrAtual = $(InputValorDigitado).parents('tr');
            var posicaoTrAtural = TrAtual[0].rowIndex;




            var v = "";
            var aux = 0;
            var IdProduto = parseFloat($(TrAtual).find("td:nth-child(1)").html());;
            $(InputValorDigitado).attr('disabled', 'false');

            var valortotal = parseFloat($("#ValorTotal").text());
            var qtddigitada = parseFloat($(InputValorDigitado).val());
            var valorlinha2 = parseFloat($(TrAtual).find("td:nth-child(3)").html().replace(',', '.'));
            var multiplica = parseFloat(qtddigitada * valorlinha2);
            aux += multiplica;
            $("#ValorTotal").text(aux.toFixed(2));

            var EstoqueViewModel = {
                IdProduto: IdProduto,
                Quantidade: qtddigitada
            }

            if (1 == 1) {
                ///Estoque/VerificaEstoqueProduto

                $.ajax({
                    url: '/Estoque/VerificaEstoqueProduto',
                    method: 'Post',
                    data: JSON.stringify(EstoqueViewModel),
                    contentType: 'application/json',

                    beforeSend: function () {


                    }

                }).done(function (response) {



                    if (!response.possueEstoque) {

                        var novatd = $("<td>").html("Sem Estoque " + response.saldo);

                        var novatdbtn = $("<td>");

                        var botao = $("<button>").html('Excluir').attr('onclick', 'Excluir(this)').Attr('class' , 'btn btn-success');

                        novatdbtn.append(botao);

                        TrAtual.append(novatd);

                        TrAtual.append(novatdbtn);

                        CalculoTotal();
                        debugger;
                        //TrAtual.attr('style','background:Red');
                        $("#Edit").removeAttr('disabled');
                        $("#Comprado").attr('disabled', 'false');
                        debugger;



                    }
                    else {
                        CalculoTotal();
                        debugger;
                        $("#Comprado").attr('disabled', 'false');


                        debugger;
                        if (qtdtr == posicaoTrAtural) {
                            var x = 0;
                            debugger;
                            //var criarumatd = $('<td>');
                            //var acrescentarbtn = $('<button>').html('botao');
                            //criarumatd.append(acrescentarbtn);
                            //TrAtual.append(criarumatd);

                            var botao = $('#TabVenda').find('tbody').find('tr').find('button').html();
                            debugger;
                            if (botao == "Excluir") {
                                debugger;
                                $("#Comprado").attr('disabled', 'true');

                            } else {
                                
                                $("#Comprado").removeAttr('disabled');
                                debugger;
                            }
                            


                        }

                    }
                })
            }


            $("#Edit").attr('disabled', 'false');


            // }


        };
        //1 body 2 linha tr e 3 dps td e dps 4 html ou text

        //var busca = $(InputValorDigitado).parent().parent();




        //var precoAtual = parseFloat($("#ValorTotal").text());
        //           var preco = parseFloat(self.closest("tr").find("#Total").text());
        //           var precoTotal = precoAtual + preco;
        //           $("#ValorTotal").text(precoTotal);
        // }

        $("#Comprado").click(function () { //esse  aqui habilita input
            //var teste1 = parseFloat($('#ValorTotal').html().toFixed(2));


            var Body = $('#TabVenda').find('tbody').find("td").find("input");


            $("#Selecionar").attr('disabled', 'false');
            $(".selecionar").attr('disabled', 'false');
            $("#Edit").removeAttr('disabled');

            Body.each(function () {

                if ($(this).val() != "") {
                    $(this).attr('disabled', 'false');


                } else {
                    alert('Preencher todas as quantidades');
                }

            })

            var lista = [];


            var teste = $('#TabVenda').find('tbody').find("tr");
            //var lista = jQuery.makeArray(teste);

            teste.each(function () {


                var venda = {

                    Idproduto: $(this).find("td:nth-child(1)").html(),
                    valor: $(this).find("td:nth-child(3)").html(),
                    Quantidade: $(this).find("td:nth-child(4)").find("input").val(),
                    //valortotal: $("#ValorTotal").html().replace(',', '.'),
                    ValorTotal: parseFloat($("#ValorTotal").html()),

                }

                lista.push(venda);
            });
            debugger;
            if (lista.length > 0) { //se a lista for > 0   .lenght



                $.ajax({ //inicio do ajax
                    url: "/Vendas/AjaxVendas",
                    method: 'Post',
                    data: JSON.stringify(lista),//joga para o metodo expecificamente no paramentro
                    contentType: 'application/json',

                    beforeSend: function () {
                        // carregamento

                    }

                }).done(function (response) { //mostrar alguma coisa;
                    debugger;
                    alert(msg);
                    // quanto retorna d controller vendaajax


                }).fail(function (jqXHR, textStatus, msg) {

                    alert(msg);
                })






            }



        });
        $("#Edit").click(function () { //esse desabilita os input

            var Body = $('#TabVenda').find('tbody').find("td").find("input");

            debugger;
            $("#Selecionar").removeAttr('disabled');
            $(".selecionar").removeAttr('disabled');

            Body.each(function () {



                if ($(this).val() != "") {
                    $(this).removeAttr('disabled');


                    debugger;
                } else {
                    alert('Preencher todas as quantidades');
                }




            })




        });
        function Excluir(btn) {


            var pegarBody = $('#TabVenda').find('tbody');
            debugger;
            $(btn).parents('tr').remove();
            var pegarvalor = parseFloat($(btn).parents('tr').find('td:nth-child(3)').html().replace(',', '.'));
            var pegarquantidade = parseFloat($(btn).parents('tr').find('td:nth-child(4)').find('input').val());

            var Multiplica = parseFloat(pegarvalor * pegarquantidade).toFixed(2);

            var ValorTotal = parseFloat($("#ValorTotal").text());
            var resultado = (ValorTotal - Multiplica);
            $('#ValorTotal').text(resultado);
            debugger;

            //$(btn).attr('disable', 'true');


            var Body = $("#TabVenda").find('tbody').find('tr').find('td').find('button');
            debugger;

            if (Body.length == 0) {
                $("#Comprado").removeAttr('disabled');
                $("#Edit").removeAttr('disabled');
            }


        }


                       










    </script>

    @*var linhas = $("tbody>tr");

        linhas.each(function(){
        var prod = $(this).find("td:nth-child(1)");*@
    @*var prod = $(this).find("td:nth-child(2)");*@

}