
@{
    ViewData["Title"] = "ConfirmarCadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastrar Login</h1>

<div>
    @ViewBag.msg
</div>

<div class="text-center">
    <a id="FechaRsv" asp-controller="Home" asp-action="Index" 
       class="btn btn-success">Fazer Login</a>
</div>


