
@{
    ViewData["Title"] = "CadastrarProduto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastrar Produto</h1>
<div>
    @ViewBag.Msg
</div>


<form class="BoxShadow" action="/Produto/ConfirmarCadastro">

    <div class="form-group testt botaologin">
        <label for="exampleInputPassword1">Nome</label>
        <input name="Nome" class="form-control BackGroudGradientes" id="exampleInputPassword1" placeholder="Nome do Produto">
    </div>


    <div class="form-group testt botaologin">
        <label for="exampleInputEmail1">Preço</label>
        <input name="Preco" id="Pco" class="form-control" placeholder="Digite o Preço">
    </div>

    
    <button class="btn btn-primary">Cadastrar</button>
</form>

@section Scripts{
    <script type="text/javascript">
      

            $('#Pco').mask('##,###,##');
    
   
    </script>
}