
@{
    ViewData["Title"] = "ConfirmarCadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ConfirmarCadastro</h1>

@ViewBag.msg

<div class="text-center">
    <a id="FechaRsv" asp-controller="Produto" asp-action = "CadastrarProduto"
       class="btn btn-success">Fazer Login</a>
</div>

